/*
* Style sheet with the containers of the application pages
* ------------------------------------------------------
*/

/* general container class */
.container {
    height: 100vh;
    width: 100vw;
    background-color: var(--white-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* main container "index.html */
.mainpage-container {
    background-image: url(../assets/background-1.jpg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: calc(1rem + 0.390625vw);
    align-items: center;
    vertical-align: middle;
    padding-top: 25vh;
}

/* main container "newgame.html" */
.setuppage-container {
    background-image: url(../assets/background-2.jpg);
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 8fr 1fr;
}

/* main container "tictactoe.html" */
.gamepage-container {
    background-image: url(../assets/background-3a.jpg);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 8fr 1fr;
    gap: calc(0.5rem + 0.390625vw);
}

/* initially not visible container, on which the rules of the game are displayed */
.rulesview-container {
    position: absolute;
    z-index: 1;
    width: 60%;
    top: 1rem;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    padding: 30px 50px 30px 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 4px solid rgba(160, 228, 165, 0.5);
    border-radius: 30px;
    visibility: hidden;
}