/*
* Style sheet with the specific styles of the
* "index.html" page.
* ------------------------------------------------------
*/

/* container logo styles */
.app-logo-ico {
    height: 128px;
    width: 128px;
    background: transparent;
    background-image: url(../assets/tic-tac-toe-128px.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: rotate(15deg);
    transition: transform .7s ease-in-out;
}

/* container logo styles on mouse over event */
.app-logo-ico:hover {
    transform: rotate(375deg);
}

/* .sm < | Small devices and down (landscape, phones) less than 768px */
@media (max-width: 767.98px) {
    .app-logo-ico {
        height: 100px;
        width: 100px;
        background-image: url(../assets/tic-tac-toe-128px.png);
    }    
}

/* .md = | Medium devices only (tablets) upper 768px and less than 992px */
@media (min-width: 768px) and (max-width: 991.98px) {
    .app-logo-ico {
        height: 120px;
        width: 120px;
        background-image: url(../assets/tic-tac-toe-256px.png);
    }    
}

/* .lg > | Large devices and up (desktops) 992px and up */
@media (min-width: 992px) {
    .app-logo-ico {
        height: 150px;
        width: 150px;
        background-image: url(../assets/tic-tac-toe-256px.png);
    }    
}

/* NAME (TIC TAC TOE)
-----------------------------------
*/

/* app name text */
.app-name {
    font-family: Chango;
    font-size: calc(2rem + 0.4vh);
    line-height: calc(2.2rem + 0.8vh);
    letter-spacing: 2px;
    color: var(--black-color);
    -webkit-text-stroke: 4px rgba(255, 255, 255, 0.3);
}
