/*
This file contains styles that are specific to the new game page.
-----------------------------------------------------------------------------
*/

/* Page main container */
.mainContainer {
    width: 100vw;
    height: 100vh;
    background-color: var(--white-color);
    background-image: url(../assets/background-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 15fr 1fr;
}

/* Top bar in this page */
.Topbar {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-gap: 20px;
}

/* Logo in the top bar */
.Topbar-logo {
    height: 40px;
    width: 40px;
    background: transparent;
    background-image: url(../assets/tic-tac-toe-64px.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.Topbar-name {
    font-family: Chango;
    font-size: calc(1.2rem + 0.4vw);
    line-height: calc(1.8rem + 0.8vw);
    color: var(--black-color);
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.3);
    align-self: flex-end;
}

.Boxform {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: rgb(27, 147, 51);
    color: rgb(255, 255, 255);
    padding: 10px 20px 10px 20px;
    background-color: rgba(92, 206, 255, 0.6);
    border: 4px solid rgba(92, 124, 255, 0.8);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Boxform-buttons {
    width: 50%;
    min-width: 250px;
    text-align: center;
    vertical-align: center;
}

.Boxform-datainput {
    width: 50%;
    min-width: 250px;
    text-align: center;
    vertical-align: center;
}

.Boxform-datainput-header {
    font-family: Chango;
    font-size: calc(1.8rem + 0.390625vw);
    color: var(--blue-color);
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.3);
}

.Boxform-datainput-text {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 3px solid rgba(92, 124, 255, 0.4);
    color: var(--black-color);
    width: 250px;
    height: calc(20px + 4vh);
    text-align: center;
    font-size: calc(1.25rem + 0.39vw);
}
    
.Boxform-datainput-text:focus {
    outline: none;
    border: 3px solid rgba(92, 124, 255, 0.8);
    color: rgb(92, 124, 255);
}

/* .sm < | Small devices and down (landscape, phones) less than 768px */
@media (max-width: 767.98px) {

    .Boxform-datainput-header {
        margin-top: 2px;  
    }

    
    .Boxform-datainput-text {
        width: 90%;
        margin-top: 0px;  
    }
}
