/*
This file contains styles that are specific to the rules pop-up.
-----------------------------------------------------------------------------
*/

/* Rules PupUp */
.RulesPopUp {
    position: absolute;
    z-index: 1;
    width: 60%;
    top: 1rem;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    padding: 30px 50px 30px 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 4px solid rgba(160, 228, 165, 0.5);
    border-radius: 30px;
    visibility: hidden;
}

/* Rules PopUp header */
.RulesPopUp-header {
    font-family: Chango;
    font-size: calc(1.8rem + 0.390625vw);
    color: var(--green-color);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
}

/* Rules PopUp paragraph */
.RulesPopUp-paragraph {
    font-family: Comfortaa;
    font-size: calc(1.2rem + 0.390625vw);
    line-height: calc(1.6rem + 0.390625vw);
    color: var(--black-color);
}

/* Rules PopUp unordered list */
.RulesPopUp-unorderedlist {
    list-style: none;
}

/* Rules PopUp list element */
.RulesPopUp-unorderedlist-element {
    font-family: Comfortaa;
    font-size: calc(1.2rem + 0.390625vw);
    line-height: calc(1.6rem + 0.390625vw);
    color: var(--black-color);
    padding-left: 10px;
    list-style: url('../assets/square-check-solid.svg');
}