/* setup color variables used */
:root {
    --white-color: rgb(255, 255, 255);
    --black-color: rgb(0, 0, 0);
    --red-color: rgb(255, 92, 124);
    --green-color: rgb(160, 228, 165);
}

/* reset body styles  */
body {
    margin: 0;
    background-color: var(--white-color);
    background-image: url(../assets/background-1.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}


/* main container */
.app-main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    padding-top: 25vh;
}

/* game rules container */
.app-rules-container {
    position: absolute;
    z-index: 1;
    width: 60%;
    top: 5rem;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    padding: 30px 50px 30px 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 4px solid rgba(160, 228, 165, 0.5);
    border-radius: 40px;
    visibility: hidden;
}

.app-rules-container h2 {
    font-family: Chango;
    font-size: calc(1.8rem + 0.390625vw);
    color: var(--green-color);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
}

.app-rules-container ul {
    --icon-space: 1.3em;
    list-style: none;
    padding: 0;
}

.app-rules-container li {
    font-family: Comfortaa;
    font-size: calc(0.8rem + 0.390625vw);
    font-weight: bold;
    line-height: calc(1.6rem + 0.390625vw);;
    color: var(--black-color);
    padding-left: var(--icon-space);
}

.app-rules-container  li:before {
    content: "\f0a4"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
}

/* container logo styles */
.app-logo-ico {
    height: 128px;
    width: 128px;
    background: transparent;
    background-image: url(../assets/tic-tac-toe_128px.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: rotate(15deg);
    transition: transform .7s ease-in-out;
}

/* container logo styles on mouse over event */
.app-logo-ico:hover {
    transform: rotate(375deg);
}

/* app name text */
.app-name {
    font-family: Chango;
    font-size: calc(1.5rem + 0.390625vw);
    letter-spacing: 2px;
    color: var(--black-color);
    -webkit-text-stroke: 6px rgba(255, 255, 255, 0.3);
}

/* big buttons style */
.app-big-button {
    font-family: Chango;
    font-size: calc(1.2rem + 0.390625vw);
    color: var(--red-color);
    background: var(--white-color);
    padding: 10px 20px 10px 20px;
    border: 4px solid rgba(255, 92, 124, 0.8);
    border-radius: 30px;
}

/* big buttons style on mouse over event */
.app-big-button:hover {
    color: var(--white-color);
    background: var(--red-color);
    border: 4px solid rgba(255, 255, 255, 0.3);
}

/* medium buttons style */
.app-med-button {
    font-family: Chango;
    font-size: calc(1rem + 0.390625vw);
    color: var(--green-color);
    background: var(--white-color);
    padding: 10px 20px 10px 20px;
    border: 4px solid rgba(160, 228, 165, 0.8);
    border-radius: 30px;
}

/* medium buttons style */
.app-med-button:hover {
    color: var(--white-color);
    background: var(--green-color);
    border: 4px solid rgba(255, 255, 255, 0.3);
}

/* icon that shows the game rules */
.app-rules-icon {
    height: 32px;
    width: 32px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: transparent;
    background-image: url(../assets/rules-256px.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.5;
}

/* icon that shows the game rules on mouse over event */
.app-rules-icon:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 1;
}
